# User details for path construction

# Critical Paths
PATH_TO_DATA=/home/user/Documents
PATH_TO_REGISTRY=/home/user/Documents/experiment_registry.csv
PATH_TO_LOCAL_STORAGE=/home/user/Documents/data_dump

# Debugging configs
MFETHULS_STORAGE_DEBUG=True
MFETHULS_DISABLE_STORAGE=0

# Instrument folder names where data is stored
UV_VIS_FOLDER_NAME=UV_Vis
TGA_FOLDER_NAME=TGA
FTIR_FOLDER_NAME=FTIR
DSC_FOLDER_NAME=DSC
NMR_FOLDER_NAME=NMR
MS_FOLDER_NAME=MS
RHEOMETER_FOLDER_NAME=Rheology
SEC_FOLDER_NAME=SEC
DMA_FOLDER_NAME=DMA
SAXS_FOLDER_NAME=SAXS
inSitu_UV_FOLDER_NAME=inSitu_UV

# Testing configs
MFETHULS_TEST_DATA_ROOT = /home/user/Documents/mfethuls_test_data
MFETHULS_TEST_REGISTRY = /home/user/Documents/experiments_template.csv
MFETHULS_TEST_LOCAL_STORAGE = /home/user/Documents/storage_local_cache